html
    head
        title Reset your password
    body
        h1 Reset your password
        form(name="resetPassword" method="post")
            label(for="password") New Password 
            input(type="text", name="password")

            label(for="confirmPassword") Confirm Password
            input(type="text", name="confirmPassword")

            button(type="submit") Submit