html
    head
        title Reset your password
    body
        h1 Reset your password
        form(name="resetPassword" method="post")
            div
                label(for="password") New Password 
                input(type="password", name="password")
            div
                label(for="confirmPassword") Confirm Password
                input(type="password", name="confirmPassword")

            button(type="submit") Submit