doctype html
html(lang='en')
  head
    title PerSource.gg - Password Reset
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    style.
      .container {
      display: flex;
      flex-direction: column;
      margin: 20px;
      }
      .error-label {
      visibility: hidden;
      margin-left: 0 !important;
      margin-bottom: 20px !important;
      }
      .loader {
      visibility: hidden;;
      }
  body.container
    h1 Reset your password
    form.ui.form(name='resetPassword', method='post')
      .field
        label New Password
        input#password(type='password', name='password', required='', minlength='8')
      #loader.ui.active.centered.inline.loader
      .field
        label Confirm Password
        input#confirmPassword(type='password', name='confirmPassword', required='', minlength='8')
      #error-label.error-label.ui.red.basic.label
        | Passwords do not match
      div
        button.ui.button(type='submit') Submit
    script(type='text/javascript').
      const form = document.querySelector('form');
      const password = document.getElementById('password');
      const confirmPassword = document.getElementById('confirmPassword');
      const errorLabel = document.getElementById('error-label');
      const loader = document.getElementById('loader');
      form.addEventListener('submit', (event) => {
      event.preventDefault();
      if(password.value !== confirmPassword.value) {
      errorLabel.style.visibility = 'visible';
      } else {
      loader.style.visibility = 'visible';
      errorLabel.style.visibility = 'hidden';
      form.submit();
      }
      })
